.container {
  width: 95%;
  height: auto;
  min-height: 500px;
  background: whitesmoke;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 2px;
  display: flex;
}

.input-container {
  display: block;
  width: 60%;
  height: auto;
  min-height: 200px;
  margin: 20px 10px 10px 20px;
  background-color: #b670fa;
  border-radius: 10px;
}

.point-quantity {
  display: block;
  width: 38%;
  background-color: #a6f391;
  height: auto;
  min-height: 200px;
  border-radius: 10px;
  margin: 20px 10px 10px 20px;
}

.input-container h3 {
  font-family: cursive;
}
