<header>
  <app-header></app-header>
</header>
<div class="container">
  <section class="containerSumatori">
    <h1>Hello User</h1>
    <div class="containerSomatories">
      <table class="showContent">
        <thead>
        <tr>
          <th>Numero de sumatoria</th>
          <th>Promedio de sumatoria</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>primera sumatoria</td>
          <td>32.5%</td>
        </tr>
        <tr>
          <td>segunda sumatoria</td>
          <td>40.5%</td>
        </tr>
        <tr>
          <td>tercera sumatoria</td>
          <td>37.5%</td>
        </tr>
        <tr>
          <td>cuarta sumatoria</td>
          <td>38.5%</td>
        </tr>
        <tr>
          <td>quinta sumatoria</td>
          <td>45.5%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  <aside class="containerButtons">
    <div class="containerButtonImprovement">
      <button mat-raised-button color="primary">Improvement rate</button>
    </div>
    <div class="containerButtonDatalist">
      <label for="numRondas">Selecciona el numero de rondas</label>
      <select name="Selecciona el numero de rondas" id="numRondas">
        <option value="DEFAULT">Selecciona el numero de rondas</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
    </div>
    <div class="buttonNextPage">
      <button mat-raised-button color="primary" >Crear sumatoria</button>
    </div>
  </aside>
</div>

